body {
  text-align: center;
  background-color: #cfbff7;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title a {
  text-decoration: none;
  color: inherit;
}

.header-title h1 {
  color: inherit;
}

.articleList-container {
  border: 1px dotted black;
  background-color: #dad0f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.articleList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.singleArticle-container {
  max-width: 850px;
  margin: auto;
}

.article-title {
  max-width: 90%;
  word-wrap: break-word;
}

.article-date {
  text-align: left;
  color: rgba(59, 59, 59, 0.887);
}

.author {
  text-align: right;
}

.author strong {
  color: #8b80f9;
}

.article-body {
  text-align: left;
}

.navbar {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  justify-content: space-around;
  background-color: #dad0f4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #8b80f9;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  border-radius: 5px;
  max-width: 90%;
  height: auto;
}

.comment {
  background-color: #8b80f9;
  border-radius: 5px;
}

.author-comment {
  text-align: left;
}

.vote-comment {
  text-align: right;
}

.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.vote-buttons {
  display: flex;
  gap: 5px;
}

.vote-buttons button {
  background-color: #cfbff7;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.vote-buttons button:hover {
  opacity: 0.8;
}

.vote-buttons .thumb-up:hover {
  color: green;
}

.vote-buttons .thumb-down:hover {
  color: red;
}

.comments-container {
  margin-top: 50px;
}

.comment-input {
  padding: 30px;
  width: 75%;
}

.comment-input:focus {
  border-color: #8b80f9;
  outline: none;
}

.comment-submit {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.comment-submit:hover {
  background-color: #8b80f9;
  color: white;
  border: none;
}
.User-selection {
  margin-top: 40px;
}

.select-user {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
}
.select-user:focus {
  border-color: #8b80f9;
  outline: none;
}

.selected-user strong {
  color: #8b80f9;
}

.logout-button {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.logout-button:hover {
  background-color: #8b80f9;
  color: white;
  border: none;
}

.error-message {
  color: red;
  font-size: large;
  font-weight: bolder;
}

.failed-message {
  color: red;
  font-size: large;
  font-weight: bolder;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin: 15px;
  gap: 10px;
  padding: 10px;
}

.sorting-container label {
  font-weight: bold;
}

.sorting-container select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: white;
  cursor: pointer;
}

@media (min-width: 800px) {
  .articleList-container {
    width: 100vh;
    max-width: none;
    padding: 40px 20px;
  }

  .articleList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    word-wrap: break-word;
  }

  .sorting-container {
    margin-top: -10px;
  }
}
