body {
  text-align: center;
  background-color: #cfbff7;
}

h1 {
  text-align: center;
}

.articleList-container {
  margin: 30px;
  border: 1px dotted black;
}

.header-title {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  gap: 5px;
  justify-content: flex-end;
  background-color: #6cd4ff;
}

.articleList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

li {
  list-style: none;
}

img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

.comment {
  background-color: #8b80f9;
  border-radius: 5px;
}

.author-comment {
  text-align: left;
}

.vote-comment {
  text-align: right;
}

.comment-input {
  padding: 30px;
  width: 75%;
}

.comment-input:focus {
  border-color: #6cd4ff;
  outline: none;
}

.comment-submit {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.comment-submit:hover {
  background-color: #6cd4ff;
  color: white;
  border: none;
}

.select-user {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
}
.select-user:focus {
  border-color: #6cd4ff;
}

.error-message {
  color: red;
  font-size: large;
  font-weight: bolder;
}

.failed-message {
  color: red;
  font-size: large;
  font-weight: bolder;
}
