h1 {
  text-align: center;
}

.articleList-container {
  margin: 30px;
  border: 1px dotted black;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

li {
  list-style: none;
}

img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
